<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Opção Recomendada</title>
</head>
<body>
<h1>Opção Recomendada - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<br />
<em>Este artefato é designado para a efetivação de mudanças que tenham sido aprovadas pela análise de impacto, definindo a opção recomendada (através de estudo de cenário) para a implementação desta alteração.</em>

<h2>Opções de Implementação</h2>
<p>
«Citar pelo menos uma e no máximo três alternativas para executar a alteração.»
<p>

<h2>Descrição das Opções de Implementação</h2>
<p>
«Explicitar a sequência de procedimentos para a realização cada método de implementação da mudança.»
<p>

<h2>Classificação das Opções de Implementação</h2>
<p>
«Classificar as alternativas de implementação da mudança de 1 à 3 (1 MAIS elegível, 3 MENOS elegível) de acordo com suas particularidades como complexidade, tempo de realização, entre outras.»
<p>

<h2>Estratégia de Implementação</h2>
<p>
«Definir a tática de implementação com a opção melhor classificada perante as outras.»
<p>

<h3>Plano de Prevenção e Mitigação dos Riscos </h3>
<p>
«Determinar os riscos do desenvolvimento da mudança e uma estratégia de prevenção/mitigação dos mesmos.»
<p>

<h3>Cronograma de Implementação</h3>
<p>
«Estabelecer o cronograma para todo o ciclo de vida da modificação usando-se a opção de implementação melhor classificada.»
<p>

</body>
</html>
