<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align: center;
	padding: 10px;
}
</style>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Plano de Aposentadoria</title>
</head>

<body>
<h1>Plano de Aposentadoria - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Requisitos</h2>
<p>
«Listagem dos requisitos de aposentadoria com alígera descrição.»
<p>

<h2>Análise de Impacto</h2>
<p>
«Resultado da análise de impacto da aposentadoria.»
<p>

<h2>Sistema Substituto</h2>
<p>
«Se aplicável, aqui se encontra os dados ou referencia ao software suplente para o produto marcado para aposentadoria.»
<p>

<h2>Cronograma</h2>
<p>
«Representação temporal para as atividades de aposentadoria como implementação de soluções alternativas para as necessidades supridas pelo software marcado para aposentação, arquivamento de dados, notificação e treinamento dos usuários.»
<p>

<h2>Responsabilidade de Suporte Residual</h2>
<p>
«Definição da responsabilidade de prestação de assistência futura.»
<p>

<h2>Esforço</h2>
<p>
«Estabelecer o custo em termos de tempo, recursos financeiros, materiais e humanos para a efetivação da aposentadoria.»
<p>

<h2>Decisões de Aposentadoria</h2>

<table>

<tr>
<td> Guardar tecnologia obsoleta? </td> <td> «SIM/NÃO» </td>
</tr>

<tr>
<td> Desenvolver novo produto substituto com tecnologia atual? </td> <td> «SIM/NÃO» </td>
</tr>

<tr>
<td> Desenvolver novo produto de software para alcançar modularidade? </td> <td> «SIM/NÃO» </td>
</tr>

<tr>
<td> Desenvolver um novo produto de software para facilitar a manutenção? </td> <td> «SIM/NÃO» </td>
</tr>

<tr>
<td> Desenvolver um novo produto de software para melhorar a padronização? </td> <td> «SIM/NÃO» </td>
</tr>

<tr>
<td> Desenvolver um novo produto de software para facilitar a independência de fornecedores? </td> <td> «SIM/NÃO» </td>
</tr>

</table>

</body>
</html>
