<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Plano de Treinamento</title>
</head>
<body>
<h1>Plano de Treinamento - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Introdução ao Documento</h2>
<p>
Este documento é um plano de treinamento para os usuários do sistema. Na implantação do sistema no ambiente de trabalho, os usuários devem passar pelo treinamento fornecido para facilitar o aprendizado e a utilização das funcionalidades. Além disso, quando for feito alguma migração ou mudança muito brusca em layouts ou funcionalidades o treinamento talvez precise ser refeito de acordo com a avaliação das partes interessadas do produto.
<h2>Justificativa</h2>
<p>
«Neste espaço será justificado o motivo do treinamento ser realmente necessário.»
<h2>Plano</h2>
<p>
«Neste espaço será feito todo o planejamento do treinamento em subtópicos:»
<h3>Descrição</h3><br />«Neste espaço será descrito o que ocorrerá no treinamento e sua finalidade.»<br />
<h3>Cronograma</h3><br />«Neste espaço será colocado o cronograma com datas e horários para o treinamento.»<br />
<h3>Avaliação</h3><br />«Neste espaço será descrito como ocorrerá a avaliação pós-treinamento.»

<h2>Responsabilidades</h2>
Serão feitas reuniões com o Gerente de Manutenção e alguns membros da sua equipe para definir o plano de treinamento.<br />
O acompanhamento do treinamento será feito por qualquer um que estava nessa reunião, bem como a avaliação pós-treinamento.

<h2>Aprovação</h2>
Aval de todos os integrantes da reunião de definição do plano.<br />
Aval de quem controlou e de quem avaliou o treinamento.
</body>
</html>
