<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Relatório de Aceitação</title>
</head>
<body>
<h1>Relatório de Aceitação  - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<br/>
<em>Este documento deve constar a Aceitação da Modificação mediante a ISO/IEC 12207.</em>

<h2>Referência à RM/RP</h2>
<p>
«Aqui será colocado o identificador único e título da RM/RP que originou esta modificação.»
<p>

<h2>Parecer da Aceitação</h2>
<p>
«Aqui deve constar o parecer da aceitação desta modificação segundo a ISO/IEC 12207. Se apenas parte da modificação for aceita, deve constar quais partes foram aprovadas e rejeitadas, e os motivos para a ação tomada em cada caso.»
<p>

<h2>Responsável</h2>
<p>
«Aqui deve constar o nome do Responsável pela Aceitação da Modificação.»
<p>

</body>
</html>