<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align: center;
	padding: 10px;
}

#parag {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
}

hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    margin-left: 25%;
    margin-right: 25%;
    border-style: inset;
    border-width: 1px;
} 
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>NCA</title>

</head>

<body>
<h1>Nota de Conclusão de Aposentadoria - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Dados da Aposentadoria</h2>

<table>

<tr>
<td> Designação do Produto </td> <td> «Valor do Atributo (Nome)» </td>
</tr>

<tr>
<td> Versão do Produto </td> <td> «Valor do Atributo (ID)» </td>
</tr>

<tr>
<td> Preço Unitário </td> <td> «Valor do Atributo (Número)» </td>
</tr>

<tr>
<td> Início Comercial </td> <td> «Valor do Atributo (Data)» </td>
</tr>

<tr>
<td> Término Comercial </td> <td> «Valor do Atributo (Data)» </td>
</tr>

<tr>
<td> Aposentado em </td> <td> «Valor do Atributo (Data)» </td>
</tr>

</table>

<h2>Declaração Legal</h2>
<p>
«Informações de cunho legal relacionados ao produto como direitos de autoria, posse, venda, distribuição e demais devem ser citados aqui para resolução de futuras pendências legais.»
<p>

<h2>Informação Adicional</h2>
<p>
«Observações e considerações adicionais/finais devem ser explicitadas neste local.»
<p>

<br />
<h2 align="center">Terminação Formal</h2>
<p align="center" id="parag">"Declaro o produto referido neste documento oficialmente descontinuado, eximindo-me de todas as reponsabilidades de suporte, usabilidade, confiabilidade, funcionalidade, eficiência, manutenibilidade e portabilidade inerentes à ele."</p>
<br />
<br />
<p align="center">«Assinatura do gerente de projeto»</p>
<hr>
<p align="center">Gerente de Projeto</p>
<p align="center">«__/__/____»</p>
<br />
<p align="center">«Assinatura do gerente de manutenção»</p>
<hr>
<p align="center">Gerente de Manutenção</p>
<p align="center">«__/__/____»</p>
<br />
<p align="center">«Assinatura do cliente»</p>
<hr>
<p align="center">Cliente/Comprador</p>
<p align="center">«__/__/____»</p>

</body>
</html>
