<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>NIA</title>
</head>
<body>
<h1>Nota de Intenção de Aposentadoria - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Informações do Produto</h2>
<p>
«Relação de todos os atributos (nome, versão, ambiente, data de lançamento e demais) do produto de software marcado para aposentadoria.»
<p>

<h2>Justificativa</h2>
<p>
«Um breve esclarecimento sobre o porquê da terminação ao suporte e/ou à operação para o referido produto de software.»
<p>

<h2>Ambiente Alternativo</h2>
<p>
«Se aplicável, descrição sobre o novo ambiente de operação alternativo informando-se a data de lançamento/disponibilidade deste.»
<p>

<h2>Opções de Suporte Alternativas</h2>
<p>
«Se aplicável, listagem das potenciais opções de suporte ao produto as quais pode-se recorrer quando o suporte original findar seu apoio.»
<p>

<h2>Entidades Afetadas</h2>
<p>
«Citação de todas as entidades (pessoas, empresas, locais, entre outros) que serão afetados pela descontinuação do suporte/operação do sistema.»
<p>

<h2>Cronograma</h2>
<p>
«Ilustração das datas destinadas para a realização dos eventos relacionados à aposentadoria, a partir da publicação desta nota até a efetivação da obsolescência.»
<p>

<h2>Contato</h2>
<p>
«Referência aos meios de contato (telefone, fax, e-mail, website, etc) para informações adicionais sobre o evento de aposnetadoria.»
<p>

</body>
</html>