<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>Título do Documento</title>
</head>
<body>
<h1>Notificação de Intenção - Byte INC.</h1>


<h7>

Breno Fernandes Daniel de Carvalho<br />

Igor Moura Brandão<br />

Johnnathan Gomes Lima<br />

Leonardo Freitas dos Santos<br />

Matheus Henrique Lima<br />

Moisés Hilário Rodrigues<br />

Vinicius Carvalho Machado<br />


</h7>

<h2>Locais afetados pela migração</h2>


<p>
«Identificar e destacar todos os locais que serão afetados com a migração.»
<p>



</h7>

<h2>Feedback sobre o processo</h2>


<p>
«Comunicar sobre a intenção do processo aos interessados.»
<p>



</h7>

<h2>Problemas especificos do ambiente</h2>


<p>«Idenficar os problemas do ambiente que serão modificados.»

<p>



</h7>

<h2>Programa de migração</h2>


<p>
«Publicar para os interessados o cronograma/programação da migração.»
<p>



</body>


</html>
