<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>Título do Documento</title>
</head>
<body>
<h1>Plano de Migração - Byte INC.</h1>


<h7>

Breno Fernandes Daniel de Carvalho<br />

Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />

Leonardo Freitas dos Santos<br />

Matheus Henrique Lima<br />

Moisés Hilário Rodrigues<br />

Vinicius Carvalho Machado<br 

</h7>

<h2>Requisitos de migração</h2>


<p>
«Destacar os requisitos de migração.»<p>

</h7>

<h2>Impacto da migração do software</h2>


<p>
«Dados e analises medidos a respeito do impacto da migração no software.»
<p>

</h7>

<h2>Cronograma para executaçao da migração</h2>


<p>
«Estabelecer o escopo e prazos para a execução das atividades de migração.»
<p>

</h7>

<h2>Requisitos que devem ser recolhidos para analise de dados pós migração</h2>


<p>
«Requisitos destacados para analise e comparação pós migração do software.»
<p>

</h7>

<h2>Documentação do esforço de migração</h2>


<p>
«Valores e custos de migração previstos e atualizados.»
<p>

</h7>

<h2>Mitigação dos riscos</h2>


<p>
«Documentação de riscos do processo de migração e estrategia para a mitigação.»
<p>

</h7>

<h2>Ferramentas de migração necessarias</h2>


<p>
«Levantamento feito a respeito da necessidade de ferramentas de migração.»
<p>

</h7>

<h2>Necessidades de suporte para o antigo ambiente do software</h2>


<p>
«Analisar as necessidades de suporte ao antigo ambiente do software.»
<p>







</body>


</html>
