<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Plano de Manutenção</title>
</head>
<body>
<h1>Plano de Manutenção de Software - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Introdução ao Documento</h2>
<p>
Este documento é o principal documento da Manutenção. Por ele a empresa irá seguir para executar uma manutenção no software, por isso deve ser seguido à risca.
<h2>Justificativa</h2>
<p>
«Neste espaço será justificado o motivo de seguir esse documento para executar uma manutenção no software do projeto.»
<h2>Informações e Dados</h2>
<p>
Serão coletados dados e informações do sistema, como manutenções antigas, suas causas e efeitos. Caso não houver, será feita uma reunião do Gerente de Manutenção com sua equipe para um Brainstorm para definir o plano.<br />
Após essa reunião e o Brainstorm, serão definidos procedimentos para serem seguidos e executados.

<h2>Manutenção Preventiva</h2>
<h3>Impacto</h3>
«Neste espaço será feito a análise de impacto da manutenção de acordo com os seguintes subtópicos:»
<h3>Esforço Estimado</h3><br />«Estimar quantas pessoas trabalhando serão necessárias para a manutenção.»
<h3>Custo Financeiro Estimado</h3><br />«Estimar gastos financeiros, incluindo mão-de-obra.»
<h3>Tempo Estimado</h3><br />«Estimar em dias e estipular uma possível data para o release.»
<h3>Procedimentos</h3>
«Neste espaço serão descritos os procedimentos em ordem de execução para a manutenção:<br />
1. Procedimento 1.<br />
2. Procedimento 2.<br />
.<br />
.<br />
.<br />
»
<h2>Manutenção Corretiva</h2>
<h3>Impacto</h3>
«Neste espaço será feito a análise de impacto da manutenção de acordo com os seguintes subtópicos:»
<h3>Esforço Estimado</h3><br />«Estimar quantas pessoas trabalhando serão necessárias para a manutenção.»
<h3>Custo Financeiro Estimado</h3><br />«Estimar gastos financeiros, incluindo mão-de-obra.»
<h3>Tempo Estimado</h3><br />«Estimar em dias e estipular uma possível data para o release.»
<h3>Procedimentos</h3>
«Neste espaço serão descritos os procedimentos em ordem de execução para a manutenção:<br />
1. Procedimento 1.<br />
2. Procedimento 2.<br />
.<br />
.<br />
.<br />
»
<h2>Manutenção de Melhorias</h2>
<h3>Impacto</h3>
«Neste espaço será feito a análise de impacto da manutenção de acordo com os seguintes subtópicos:»
<h3>Esforço Estimado</h3><br />«Estimar quantas pessoas trabalhando serão necessárias para a manutenção.»
<h3>Custo Financeiro Estimado</h3><br />«Estimar gastos financeiros, incluindo mão-de-obra.»
<h3>Tempo Estimado</h3><br />«Estimar em dias e estipular uma possível data para o release.»
<h3>Procedimentos</h3>
«Neste espaço serão descritos os procedimentos em ordem de execução para a manutenção:<br />
1. Procedimento 1.<br />
2. Procedimento 2.<br />
.<br />
.<br />
.<br />
»
<h2>Responsabilidades</h2>
O Gerente e sua equpe são responsáveis pela produção deste plano.<br />
A equipe de manutenção é responsável por classificar a manutenção executar os procedimentos de acordo.<br />
O Gerente de Manutenção é responsável por acompanhar e modificar o plano caso necessário.<br/>
«Neste espaço deve ser atribuido as responsabilidades aos recursos humanos»
<h2>Aprovação</h2>
Aval de toda a equipe e to Gerente de Manutenção.<br />
Aval do Gerente de Manutenção a cada modificação do plano.
</body>
</html>
