<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Registro e Resultado do Teste de Modificação</title>
</head>
<body>
<h1>Registro e Resultado do Teste de Modificação - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<br/>

<em>
Neste documento deve constar o registro de planejamento para os testes de modificação bem como o resultado dos mesmos.
</em>

<h2>Referência à RM/RP</h2>
<p>
«Aqui será colocado o identificador único e título da RM/RP que originou esta análise.»
<p>

<h3>Planejamento dos Testes</h3>
<p>
«Aqui será colocado o planejamento de como será conduzido os testes de modificação, levando em conta o que foi modificado, a integridade do sistema e a integração dos novos componentes com o sistema. Aqui deve constar também como será apresentado os resultados dos dados dos testes a serem realizados.»
<p>

<h3>Condução de Testes</h3>
<p>
«Aqui será colocado como os testes de modificação foram conduzidos baseados no planejamento feito.»
<p>

<h3>Resultado dos Testes</h3>
<p>
«Aqui será documento o resultado de cada teste. O modo de como esses resultados devem ser apresentados deve ser obrigatoriamente descrito no planejamento.»
<p>

<h3>Organização Independente Realizadora</h3>
<p>
«Aqui deve constar qual foi a Organização Independente que realizou os testes de modificação, caso tenha sido feita por uma.»
<p>

</body>
</html>