<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Relatório do Teste de Qualidade de Software</title>
<style>
	table, td, th{
		text-align: center;
		border: 1px solid #DDDDDD;
	}
	tr:nth-child(even){
		background-color: #F1F1F1;
	}
</style>
</head>
<body>
<h1>Relatório do Teste de Qualidade de Software - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<br/>

<em>
Neste documento deve constar o resultado do Teste de Qualidade de Software aplicado no cenário pós-manutenção.
</em>

<h2>Referência à RM/RP</h2>
<p>
«Aqui será colocado o identificador único e título da RM/RP que originou esta análise.»
<p>

<h3>Planejamento dos Testes</h3>
<p>
«Aqui será colocado o planejamento de como será conduzido os testes de qualidade de software, a fim de aprovar se os requisitos modificados e novos foram bem aplicados, e se os requisitos antigos e não-modificados continuam sendo igualmente atendidos. Deve se ter uma relação de quais requisitos serão testados.»
<p>

<h3>Condução de Testes</h3>
<p>
«Aqui será colocado como os testes de qualidade de software foram conduzidos baseados no planejamento feito.»
<p>

<h3>Resultado dos Testes</h3>
<p>
«Aqui será documento o resultado de cada teste com relação a cada requisito testado, de acordo com a tabela abaixo.»
<table>
	<tr>
		<th>ID do Requisito</th>
		<th>Teste Realizado</th>
		<th>Resultado</th>
		<th>Observações</th>
		<th>Aprovação</th>
	</tr>
	<tr>
		<td>«ID do Requisito (Exatamente como no EOR)»</td>
		<td>«Qual dos testes criados no planejamento foi executado»</td>
		<td>«Resultado do teste»</td>
		<td>«Observações pertinentes ao resultado adquirido»</td>
		<td>«Aprovação final do teste entre<br/> Aprovado, Parcialmente Aprovado<br/> ou Reprovado»</td>
	</tr>
</table>
<p>

</body>
</html>