<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align: center;
	padding: 10px;
}
</style>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resultados da Aposentadoria</title>
</head>

<body>
<h1>Resultados da Aposentadoria - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Resultados Gerais</h2>
<p>
«Quando aplicáveis, os resultados gerais da aposentadoria envolvem os relatórios das atividades paralelas entre novo e antigo produtos de software, caso a aposentadoria tenha um substituto imediato. Citar os atributos de ambos produtos, diferenciando-os por "V.O." (vigente obsoleto) e "N.S." (novo substituto)»
<p>

<h3>Resultado da Instalação</h3>
<p>
«Informar o resultado da instalação do novo hardware e software no ambiente.»
<p>

<h3>Resultado dos Testes Preliminares</h3>
<p>
«Informar o resultado dos testes de instalação de hardware e software preliminares.»
<p>

<h3>Resultado do Paralelismo</h3>
<p>
«Informar o resultado da operação de ambos sistemas sob carga operacional.»
<p>

<h3>Resultado da Análise de Dados</h3>
<p>
«Informar o resultado do estudo dos dados gerados pela operação de ambos produtos (comparação, redução, consistência e análise geral).»
<p>

<h2>Balanço de Recursos</h2>
<p>
«Nesta seção estarão constados os recursos da organização quanto à sua nova configuração, esta proveniente da aposentadoria do software. Exemplos de balanço de recurso são: quantos profissionais da empresa serão liberados das funções previamente empenhadas no produto, quanto dinheiro será gasto no processo de aposentadoria, quanto dinheiro será economizado na ausência de operação/suporte ao produto, quantas estações de trabalho ou instalações (prédios, salas) ficarão disponíveis, entre outros.»<p>
  
</body>
</html>
