<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RM/RP</title>
</head>
<body>
<h1>Requerimento de Mudança/Report de Problema - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Introdução ao Documento</h2>
<p>
Este documento é um requerimento de mudança ou um report de um problema, com identificação, justificativa e impacto preliminar para aprovação pelo Gerente de Manutenção.
<br />
Um requerimento de mudança pode ser uma inclusão de nova funcionalidade, alterações no ambiente de negócios, ou até erros a serem reparados.
<br />
Um report de problema é um problema encontrado no software que necessita de reparo assim que possível.
<h2>Identificação</h2>
<p>
«Neste espaço será identificado quem está fazendo a requisição/report»
<br />
<h2>Tipo e Descrição</h2>
<p>
«Neste espaço será identificado do que se trata (problema ou mudança) com uma descrição completa e quem está autorando o pedido e o documento.»
<br />
<h2>Justificativa</h2>
<p>
«Neste espaço será justificado o motivo do pedido com justificativas concretas.»
<h2>Impacto</h2>
«Neste espaço será feito a análise de impacto de acordo com os seguintes subtópicos:»
<h3>Esforço Estimado</h3><br />«Estimar quantas pessoas trabalhando serão necessárias.»
<h3>Custo Financeiro Estimado</h3><br />«Estimar gastos financeiros, incluindo mão-de-obra.»
<h3>Tempo Estimado</h3><br />«Estimar em dias e estipular uma possível data para o release.»
<h3>Gravidade</h3><br />«Classificar em baixa, média, ou grave.»
<h3>Prioridade</h3><br />«De acordo com a gravidade, classificar em alta, média ou baixa.»
<h2>Responsabilidades</h2>
Algum membro da equipe de manutenção irá receber o pedido de manutenção, irá de acordo com prioridade e gravidade colocá-lo na fila para resolução.<br />
O Gerente de manutenção irá acompanhar e controlar os pedidos na medida que eles são resolvidos e as deadlines vão se aproximando.<br />
O Gerente de manutenção também será responsável por alguma mudança no pedido, de acordo com o que ele estiver acompanhando.
<h2>Aprovação</h2>
Aval do Gerente de Manutenção e da pessoa que recebeu o pedido, tanto ao momento de receber, quanto no momento que alguma mudança no documento for feita.
</body>
</html>
