<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RM/RP</title>
</head>
<body>
<h1>Requerimento de Mudança/Relato de Problema - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<br />
<em>
Este documento contém um requerimento de mudança ou um relato de um problema para análise e aprovação posteriores pela comissão e pelo gerente de manutenção. Um requerimento de mudança pode ser uma inclusão de nova funcionalidade ou alterações no ambiente de negócios. Um relato de problema é um defeito encontrado no software que demanda reparo assim que possível para eliminar potenciais ou ocorridas falhas.</em>

<h2>Informações Preliminares</h2>
<p>
«Aqui se encontram os atributos gerais do documento que são:<br /><br />
Identificador único da requisição/relato<br />
Data de abertura do documento<br />
Data de última modificação<br />
Número da versão do documento<br />
Nome do autor da última revisão»
<p>

<h2>Solicitante</h2>
<p>
«Neste espaço será identificado quem está fazendo a requisição/report pelos atributos: nome e setor de operação.»
<p>

<h2>Título</h2> 
<p>
«Uma breve sentença resumindo a modificação/problema.»
<p>

<h3>Descrição</h3>
<p>
«Esta seção discrimina o problema ou mudança com uma descrição completa.»
<p>

<h3>Justificativa(s)/Consequência(s)</h3>
<p>
«Justificativa(s) para a mudança solicitada ou possível(is)/observada(s) consequência(s) do problema no produto.»
<p>

<h3>Gravidade/Impacto no Negócio</h3>
<p>
«Classificada em número inteiro, no intervalo de 1 à 5, onde 1 significa MENOS grave e 5 significa MAIS grave de acordo com a justificativa (ou consequência).»
<p>

<h3>Prioridade de Implementação</h3>
<p>
«Classificada em alta, média ou baixa de acordo com a gravidade e justificativas (ou consequências) previamente informadas.»
<p>

<h2>Dependências</h2>
<p>
«Listar possíveis dependências de outras àreas de processo para o andamento da modificação.»
<p>

<h2>Aprovação</h2>
<p>
«Validação do gerente de manutenção e da pessoa que iniciou o pedido, reafirmada sempre que alguma mudança no documento for feita.»
<p>

<h2>Parecer Final</h2>
<p>
«Situação atual da modificação, variante entre três estados (Sob análise, Aprovada ou Rejeitada) e listada com a data da última atualização de estado.»
<p>

</body>
</html>
