<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCreateUser</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCheckEmail</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAuthenticate</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUserJSON</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletGetUserJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateUser</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdatePassword</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletUpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreateCategory</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCreateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteUser</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUserCategories</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletGetUserCategories</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreateUser</servlet-name>
        <url-pattern>/ServletCreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheckEmail</servlet-name>
        <url-pattern>/ServletCheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuthenticate</servlet-name>
        <url-pattern>/ServletAuthenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUserJSON</servlet-name>
        <url-pattern>/ServletGetUserJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateUser</servlet-name>
        <url-pattern>/ServletUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdatePassword</servlet-name>
        <url-pattern>/ServletUpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreateCategory</servlet-name>
        <url-pattern>/ServletCreateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteUser</servlet-name>
        <url-pattern>/ServletDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUserCategories</servlet-name>
        <url-pattern>/ServletGetUserCategories</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
