<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCreateUser</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCheckEmail</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAuthenticate</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletAuthenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUserJSON</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletGetUserJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateUser</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdatePassword</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletUpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreateCategory</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCreateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteUser</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletDeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetUserCategories</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletGetUserCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCheckCategory</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCheckCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCheckToken</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCheckToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerifyPrimaryEmail</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletVerifyPrimaryEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerifySecondaryEmail</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletVerifySecondaryEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateCategory</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletUpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteCategory</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletDeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCreateActivity</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletCreateActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdateActivity</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletUpdateActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteActivity</servlet-name>
        <servlet-class>br.ufg.inf.everemind.servlets.ServletDeleteActivity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreateUser</servlet-name>
        <url-pattern>/ServletCreateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheckEmail</servlet-name>
        <url-pattern>/ServletCheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAuthenticate</servlet-name>
        <url-pattern>/ServletAuthenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUserJSON</servlet-name>
        <url-pattern>/ServletGetUserJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateUser</servlet-name>
        <url-pattern>/ServletUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdatePassword</servlet-name>
        <url-pattern>/ServletUpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreateCategory</servlet-name>
        <url-pattern>/ServletCreateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteUser</servlet-name>
        <url-pattern>/ServletDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetUserCategories</servlet-name>
        <url-pattern>/ServletGetUserCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheckCategory</servlet-name>
        <url-pattern>/ServletCheckCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheckToken</servlet-name>
        <url-pattern>/ServletCheckToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerifyPrimaryEmail</servlet-name>
        <url-pattern>/ServletVerifyPrimaryEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerifySecondaryEmail</servlet-name>
        <url-pattern>/ServletVerifySecondaryEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateCategory</servlet-name>
        <url-pattern>/ServletUpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteCategory</servlet-name>
        <url-pattern>/ServletDeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCreateActivity</servlet-name>
        <url-pattern>/ServletCreateActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdateActivity</servlet-name>
        <url-pattern>/ServletUpdateActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteActivity</servlet-name>
        <url-pattern>/ServletDeleteActivity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
