<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Relatório de Revisão e Auditoria</title>
</head>
<body>
<h1>Relatório de Revisão e Auditoria  - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<br/>
<em>Este documento deve constar a revisão e auditoria da mudança.</em>

<h2>Referência à RM/RP</h2>
<p>
«Aqui será colocado o identificador único e título da RM/RP que originou esta modificação.»
<p>

<h2>Relatório de Revisão</h2>
<p>
«Aqui deve constar o relatório da revisão. Isso inclui a testabilidade co código, conformidade com os padrões de código, a verificação se apenas os componentes necessários foram modificados e se os novos componentes foram propriamente integrados.»
<p>

<h2>Resultado da Auditoria</h2>
<p>
«Aqui deve constar o histórico da(s) auditoria(s), contendo como foi planejado e executado a verificação da modificação.»
<p>

<h2>Equipe</h2>
<p>
«Aqui deve constar quem foi a equipe responsável por realizar as auditorias e as revisões na mudança»
<p>

</body>
</html>