<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Análise de Impacto</title>
</head>
<body>
<h1>Análise de Impacto - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Referência à RM/RP</h2>
<p>
«Aqui será colocado o identificador único e título da RM/RP que originou esta análise.»
<p>

<h2>Tipo da Modificação</h2>
<p>
«Modalidade de manutenção, que pode ser preventiva, corretiva ou evolutiva (melhoria).»
<p>

<h2>Análise de Impacto</h2>
<p>
«A avaliação técnica do caso deve descrita aqui, citando-se possíveis e prováveis interferências em outros componentes que têm alguma relação com a área a ser alterada e referenciando-se quaisquer fontes, argumentos ou artefatos cabíveis para a tomada de decisão.»
<p>

<h3>Impacto aos Usuários</h3>
<p>
«Estabelecer o impacto que a mudança causará aos usuários do produto de software.»
<p>

<h3>Implicações/Limitações</h3>
<p>
«Estabelecer as implicações advindas com a mudança aos apsectos de proteção, segurança, restrições de software, hardware e/ou de ambiente operacional.»
<p>

<h2>Estimativa de Esforço</h2>
<p>
«Estimar esforço em geral (equipe, custo operacional, etc).»
<p>

<h2>Estimativa de Benefícios</h2>
<p>
«Estimar ganhos em geral (economia, rendimentos, otimização do produto, etc).»
<p>

<h2>Opções de Implementação</h2>
<p>
«Citar pelo menos uma e no máximo três alternativas para executar a alteração e descrevê-las rapidamente.»
<p>
<h2>Classificação das Opções de Implementação</h2>

<p>
«Classificar as alternativas de implementação da mudança de 1 à 3 (1 MAIS elegível, 3 MENOS elegível) de acordo com suas particularidades como complexidade, tempo de realização, entre outras.»
<p>

<h2>Estratégia de Implementação</h2>
<p>
«Definir a tática de implementação com a opção melhor classificada perante as outras.»
<p>

<h2>Plano de Prevenção e Mitigação dos Riscos </h2>
<p>
«Determinar os riscos do desenvolvimento da mudança e uma estratégia de prevenção/mitigação dos mesmos.»
<p>
</body>
</html>