<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Plano de Manutenção</title>
</head>
<body>
<h1>Plano de Manutenção de Software - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Introdução ao Documento</h2>
<p>
Este documento é o principal documento da Manutenção. Por ele a empresa irá seguir para executar uma manutenção no software,
juntamente com cronograma, EAP, atividades, papéis entre outras coisas.
 
<h2>Papéis Envolvidos</h2>
<p>
<strong>Gerente de Manutenção: </strong>Igor Moura Brandão.<br/> Responsabilidades: Planejar o Processo de Manutenção, fazer análise de impacto,
monitorar, medir e aprovar todas as atividades do processo.<br/><br/>
<strong>Equipe de Manutenção: </strong>Restante dos Integrantes.<br/> Responsabilidades: Planejar o Processo de Manutenção, classificar defeitos, implementar mudanças, revisar e testar a mudança,
e são os responsáveis por conduzir a migração e a aposentação do software. 
<h2>Cronograma de Atividades</h2>
<p>
O cronograma a seguir detalha as atividades da manutenção, bem como quem irá realizar cada uma, datas quando possível de se
estabelecer e esforço estimado medido em horas.<br />

<table border="1">
<tr>
<td>Atividade</td>
<td>Data de Início</td>
<td>Data de Término</td>
<td>Papéis Envolvidos</td>
<td>Esforço(horas)</td>
</tr>
<tr>
<td>Planejar o Processo de Manutenção</td>
<td>04/05/2015</td>
<td>18/05/2015</td>
<td>Gerente e Equipe de Manutenção</td>
<td>20hrs</td>
</tr>
<tr>
<td>Planejar o Controle de Configuração</td>
<td>04/05/2015</td>
<td>18/05/2015</td>
<td>Gerente e Equipe de Manutenção</td>
<td>10hrs</td>
</tr>
<tr>
<td>Analisar o Pedido de Mudança</td>
<td>Data do recebimento do pedido</td>
<td>2 dias úteis</td>
<td>Gerente de Manutenção</td>
<td>2hrs</td>
</tr>
<tr>
<td>Análise de Impacto</td>
<td>Data do recebimento do pedido</td>
<td>5 dias úteis</td>
<td>Gerente de Manutenção</td>
<td>5hrs</td>
</tr>
<tr>
<td>Classificar o Defeito</td>
<td>Data do recebimento do pedido</td>
<td>1 dia útil</td>
<td>Equipe de Manutenção</td>
<td>1hr</td>
</tr>
<tr>
<td>Implementação da Mudança</td>
<td>Data da aprovação da mudança</td>
<td>5 dias úteis</td>
<td>Equipe de Manutenção</td>
<td>10hrs</td>
</tr>
<tr>
<td>Atualizar Documentação</td>
<td>Após Implementação</td>
<td>1 dia útil</td>
<td>Equipe de Manutenção</td>
<td>3hrs</td>
</tr>
<tr>
<td>Revisar/Aprovar Manutenção</td>
<td>Após Implementação</td>
<td>1 dia útil</td>
<td>Gerente de Manutenção</td>
<td>1hr</td>
</tr>
<tr>
<td>Medir o Processo de Manutenção</td>
<td>04/05/2015</td>
<td>Não definido</td>
<td>Gerente de Manutenção</td>
<td>Não definido</td>
</tr>
<tr>
<td>Monitoramento da Manutenção</td>
<td>04/05/2015</td>
<td>Não definido</td>
<td>Gerente de Manutenção</td>
<td>Não definido</td>
</tr>
</table>

<h2>EAP da Manutenção</h2>
<p>
O EAP do processo e manutenção indicará atividades, tarefas e produtos de trabalho a serem gerados no processo.<br/>
<div><img src="EAPManutencao.jpg"></div><br/>
Todos os produtos indicados no EAP constam no repositório ou em links no <a href="../Processo de Manutenção (PMAN).html">Processo Genérico de Manutenção.</a>
<h2>Aprovação</h2>
Aval de toda a equipe e do Gerente de Manutenção.<br />
Aval do Gerente de Manutenção a cada modificação do plano.
</body>
</html>
