<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>PRP</title>
</head>
<body>
<h1>Procedimentos de Resolução de Problemas - Byte INC.</h1>
<h7>
Breno Fernandes Daniel de Carvalho<br />
Igor Moura Brandão<br />
Johnnathan Gomes Lima<br />
Leonardo Freitas dos Santos<br />
Matheus Henrique Lima<br />
Moisés Hilário Rodrigues<br />
Vinicius Carvalho Machado<br />
</h7>

<h2>Introdução ao Documento</h2>
<p>
Este documento tem como objetivo descrever uma série de procedimentos que serão seguidos pela empresa quando da necessidade de resolver algum problema já reportado previamente. Por se tratar de um processo condicionado pela ocorrência de um problema e o seu report, não pode ser um processo longo e nem demandar muito tempo da empresa. Lembrando que deve-se sempre cumprir ou tentar ao máximo cumprir os estimados do documento Requerimento de Mudança / Report de Problemas.
<h2>Justificativa</h2>
<p>
«Neste espaço será justificado o motivo de seguir esses procedimentos nessa ordem ser melhor para a empresa e para a resolução do problema.»
<h2>Procedimentos</h2>
<p>
«Neste espaço será descritos os procedimentos a serem seguidos internamente na empresa, na ordem que devem ocorrer e na forma:<br />
1. Procedimento 1;<br />
2. Procedimento 2;<br />
.<br />
.<br />
.<br />
»
<h2>Responsabilidades</h2>
Os procedimentos serão executados pela equipe de manutenção.<br />
O Gerente de Manutenção irá acompanhar a execução, bem como controlá-la.

<h2>Aprovação</h2>
O Gerente de Manutenção deve aprovar este documento.

</body>
</html>
